@import 'variaveis';

.acordeon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
  gap: 16px;


  .mySwiper {
    height: auto;
    min-height: 80%;
    width: 100%;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }


    .acordeonSlide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 16px;

      .imagem {
        width: 25%;
        min-width: 280px;
        height: auto;
      }

      .boxTextos {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        font-family: $family;

        h3 {
          font-size: $titulo-2;
          font-weight: 600;
          line-height: 1.5;
          color: $cor-2-dark;
          text-align: center;
        }

        h4 {
          font-size: $titulo-3;
          font-weight: 600;
          line-height: 1.5;
          color: $cor-2-dark;
          text-align: center;
        }
        .capacidade { 
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          .comp {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            span {
              font-size: 16px;
              font-weight: 500;
              color: $cor-principal-dark;
            }
          }
        }
        .descricao { 
          width: 80%;
          min-width: 300px;
          margin: 16px auto;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          color: $cor-principal-dark;
          text-align: left;
        }
      }

    }

    @media screen and (max-width: $mobile) {
      .acordeonSlide {
        flex-direction: column;
        margin-bottom: 16px;
      }

    }
  }
}