.endereco { 
  background-image: url('./imagens/GPS.svg');
}

.email {
  background-image: url('./imagens/email.svg');
}

.facebook {
  background-image: url('./imagens/facebook.svg');
}

.instagram {
  background-image: url('./imagens/instagram.svg');
}

.linkedin { 
  background-image: url('./imagens/linkedin.svg');
}