.endereco { 
  background-image: url('../../../public/assets/imagensContatos/GPS.svg');
}

.email {
  background-image: url('../../../public/assets/imagensContatos/email.svg');
}

.facebook {
  background-image: url('../../../public/assets/imagensContatos/Facebook.svg');
}

.instagram {
  background-image: url('../../../public/assets/imagensContatos/instagram.svg');
}

.linkedin { 
  background-image: url('../../../public/assets/imagensContatos/linkedin.svg');
}

.wpp {
  background-image: url('../../../public/assets/imagensContatos/whatsapp2.svg');
}