.assaiLink { 
  background-image: url('./imagens/assai.png');
  background-size: 80% auto;
}

.barbosaLink {
  background-image: url('./imagens/barbosa.png');
  background-size: 80% auto;
}

.negreirosLink {
  background-image: url('./imagens/negreiros.png');
  background-size: 80% auto;
}

.rodrafLink {
  background-image: url('./imagens/rodRaf.png');
  background-size: 70% auto;
}

.ricoyLink {
  background-image: url('./imagens/ricoy.png');
  background-size: 80% auto;
}

.armarinhosfernandoLink {
  background-image: url('./imagens/armarinhosFernando.png');
  background-size: 80% auto;
}

.calvoatacadistaLink {
  background-image: url('./imagens/calvoAtacadista.png');
  background-size: 80% auto;
}

.bergaminiLink {
  background-image: url('./imagens/bergamini.png');
  background-size: 80% auto;
}